/*
	Author: Jackson A. Chegenye
	Template: Creative Digital Project
	Version: 1.0
	URL: http://legibra.j-tech.tech
*/

/* 
	========== Table of contents ============ 

		1. Import Google Font
		2. Default Styles
		3. Preloader
		4. Header
		5. Home
		6. About
		7. Services
		8. Works
		9. Our Team

*/

/* 1. Import Google Font */
	@import url("http://fonts.googleapis.com/css?family=Raleway:200,300,600,700&subset=latin,latin-ext");

/* 2. Default Styles */
	body, .btn {
		font-family: "Raleway", Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 200;
		line-height: 1.7857;
		letter-spacing: 0.075em;
		color: #333333;
		background-color: #f5f5f5;
	}
	p{
		color:#505050;
	}
	/* --- Search ---*/
	.search{
		color:#fff;
	}
	.search:hover{
		color:#505050;
	}
	/* --- Button ---*/
	.btn-send-space{
	    margin: 50px 0px;
	}
	.btn-send{
	    border: 1px solid;
    	border-radius: initial;
	    padding: 10px 40px;
	    background-color: rgba(255, 255, 255, 0);
	}
	.legibra-title{
		font-size:50px;
	}

/* 3. Preloader */
	#st-preloader {
		background: #FFF;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}
	#pre-status,
	.preload-placeholder {
		background-image: url(../assets/images/preloader.gif);
		background-position: center;
		background-repeat: no-repeat;
		height: 40px;
		left: 50%;
		margin: -20px 0 0 -20px;
		position: absolute;
		top: 50%;
		width: 40px;
	}

/* 4. Header */

	#header{}

	#header .navbar {
		min-height: 80px;
		margin-bottom: 0;
		border-radius: 0;
	}

	.st-navbar ul{
		margin-top: 15px;
	}

	.st-navbar ul li a{
		text-transform: uppercase;
		font-weight: 600;
		padding: 0;
		margin: 14px;
		color:#fff;
		cursor: pointer;
	}

	.st-navbar ul li a:hover,
	.st-navbar ul li a:focus {
		background-color: transparent;
		color:#505050;
	}

	.st-navbar .navbar-header{
		margin-top: 25px;
	}

	.st-navbar .navbar-toggle .icon-bar {
		background-color: #000;
	}

	.st-navbar .navbar-toggle{
		margin-top: 7px;
		margin-right: 25px;
		padding: 0;
		border-radius: 0;
	}
	
/* 5. Home */
	#home {}
	
	#home-carousel  .item {
		background-position: center top;
		background-repeat: no-repeat;
		background-size:cover;
		width:100%;
		height: 650px;
	}
	#home-carousel .item:before{
		background-color: #ccbbff;
		content: "";
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.6;
		position: absolute;
		width: 100%;
	}
	.carousel-caption {
		left: 15px;
		right: 15px;
		top: 50%;
		font-size: 15px;
		text-align: left;
		color: #fff;
		text-shadow: none;
		margin-top: -130px;	
	}
	.carousel-caption h2 {
		font-size:81px;
		font-weight:600;
		margin-top:0px;
		text-transform:uppercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}
	.carousel-caption p {
		font-size:20px;
		color:#fff;
	}

/* 6. About */
	#about{
		padding-top: 50px;
	    padding-bottom: 100px;
	}
	#about .col-md-4{
		padding-left:0;
		padding-right:0;
	}
	#about .photo{
		background-image: url(../assets/images/about/about.jpg); height: 460px;
	}
	#about .about-image {
		background-position: center top;
		background-repeat: no-repeat;
		background-size:cover;
		width:100%;
	}
	#about .about-image:before {
		background-color:#ccbbff;
		content: "";
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.6;
		position: absolute;
		width: 100%;
	}
	#about .fa-user{
	    font-size: 110px;
	    color: #fff;
	    padding-top: 40px;
	}
	#about .head{
	    position: relative;
	    color: #fff;
	    font-size: 40px;
	}
	#about .paragraph{
	    margin: 60px 30px;
	}
	/*#about .btn-send-space{
	    margin: 50px 0px;
	}
	#about .btn-send{
	    border: 1px solid;
    	border-radius: initial;
	    padding: 10px 40px;
	}*/
	#about .btn-send:hover{
    	background-color:#333333;
    	color:#fff;
	 	border: 0px solid;
	}

/* Services */
	#services {
	    
	}
	#services .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	    padding: 20px;
	    vertical-align: top;
	    border-top: 0px solid;
	    text-align: center;
        line-height: normal;
        cursor:pointer;
	}
	#services .gray-td{
		background-color: gainsboro;
	}
	#services .our-services-p{
	    padding-top: 75px;
	}
	#services .fa{
		font-size: 60px;
    	padding-top: 40px;
	}
	#services .photo{
	   background-image: url(../assets/images/about/about.jpg); color:#fff;
	}
	#services .services-image {
		background-position: center top;
		background-repeat: no-repeat;
		/*background-size:cover;*/
		width:100%;
		position: relative;

	}
	#services .services-image:before {
		background-color:#ccbbff;
		content: "";
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.6;
		position: absolute;
		width: 100%;
	}
	#services .services-image p{
		color:#fff;
		font-weight:700;
	}

/* 8. Works */
	#our-works {
        background-image: url(../assets/images/about/about.jpg); 
       	height:880px;
    	margin-top: -20px;
    	margin-bottom:100px;
	}
	#our-works {
		background-position: center top;
		background-repeat: no-repeat;
		background-size:cover;
		width:100%;
		position: relative;

	}
	#our-works:before {
		background-color:#ccbbff;
		content: "";
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.9;
		position: absolute;
		width: 100%;
	}
	#our-works .legibra-title-works{
		font-size:50px;
	    color: #fff; 
	}
	#our-works .item{
		padding-left: 140px;
	    padding-right: 140px;
	    opacity: 0.6;
	}

	#our-works .carousel-inner{
	    padding-top: 40px;
	}
	#our-works .carousel-indicators{
	    top:480px;
	}
	#our-works .item img{
		width:100%;
	}

/*9. Our Team*/
	#our-team{
		margin-bottom:100px;
	}
	#our-team .our-team-image img{
		border-radius: 50%;
    	width: 200px;
	    border: 11px solid #f5f5f5;
	}
	#our-team .our-team-box{
	    background-color: #fff;
        padding: 80px 0px;
	}
	#our-team .our-team-space{
	    margin-left: 35px;
	    margin-right: 35px;
	    margin-top: -50px;
	    padding-top: 0px;
	}
	#our-team .our-team-sub-box{
	    background-color: #ccbbff;
        padding: 15px 0px;
	}
	#our-team .fa {
		background-color: #f5f5f5;
	    padding: 10px;
	    border-radius: 50%;
	}

	#our-team .carousel-control{
	    color: #000;
	}
	#our-team .carousel-control.right{
	    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
	    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0, 0, 0, 0)));
	    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
	}
	#our-team .carousel-control.left{
	    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
	    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 0, 0, 0)),to(rgba(0,0,0,.0001)));
	    background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
	}
	#our-team .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
	    left: 15%;
	}
	#our-team .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
	    right: 15%;
	}