/*
	Author: Jackson A. Chegenye
	Template: Creative Digital Project
	Version: 1.0
	URL: http://legibra.j-tech.tech
*/

/* 
	========== Table of contents ============ 

		1. Import Google Font
		2. Default Style
		3. Preloader
		4. Header
		5. Home

*/

/* 1. Import Google Font */
	@import url("http://fonts.googleapis.com/css?family=Raleway:200,300,600,700&subset=latin,latin-ext");

/* 2. Default Style */
	body {
		font-family: "Raleway", Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 200;
		line-height: 1.7857;
		letter-spacing: 0.075em;
		color: #333333;
		background-color: #fff;
	}
	p{
		color:#505050;
	}
	.search{
		color:#fff;
	}
	.search:hover{
		color:#505050;
	}

/* 3. Preloader */
	#st-preloader {
		background: #FFF;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}
	#pre-status,
	.preload-placeholder {
		background-image: url(../assets/images/preloader.gif);
		background-position: center;
		background-repeat: no-repeat;
		height: 40px;
		left: 50%;
		margin: -20px 0 0 -20px;
		position: absolute;
		top: 50%;
		width: 40px;
	}

/* 4. Header */

	#header{}

	#header .navbar {
		min-height: 80px;
		margin-bottom: 0;
		border-radius: 0;
	}

	.st-navbar ul{
		margin-top: 15px;
	}

	.st-navbar ul li a{
		text-transform: uppercase;
		font-weight: 600;
		padding: 0;
		margin: 14px;
		color:#fff;
		cursor: pointer;
	}

	.st-navbar ul li a:hover,
	.st-navbar ul li a:focus {
		background-color: transparent;
		color:#505050;
	}

	.st-navbar .navbar-header{
		margin-top: 25px;
	}

	.st-navbar .navbar-toggle .icon-bar {
		background-color: #000;
	}

	.st-navbar .navbar-toggle{
		margin-top: 7px;
		margin-right: 25px;
		padding: 0;
		border-radius: 0;
	}
	
/* 5. Home */
	#home {}
	
	#home-carousel  .item {
		background-position: center top;
		background-repeat: no-repeat;
		background-size:cover;
		width:100%;
		height: 650px;
	}
	#home-carousel .item:before{
		background-color: rgba(217, 202, 253, 0.62);
		content: "";
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.5;
		position: absolute;
		width: 100%;
	}
	.carousel-caption {
		left: 15px;
		right: 15px;
		top: 50%;
		font-size: 15px;
		text-align: left;
		color: #fff;
		text-shadow: none;
		margin-top: -130px;	
	}
	.carousel-caption h2 {
		font-size:81px;
		font-weight:600;
		margin-top:0px;
		text-transform:uppercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}
	.carousel-caption p {
		font-size:20px;
		color:#fff;
	}